*{
	margin: 0;
	padding: 0;
}

body{

	font-family: 'Roboto', sans-serif;
	background-image: url(images/background2.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

.main-container{

	width: 24%;
	margin: 11% auto;
}


.container{

	background-color: #fff;
    width: 432px;
    height: 308px;
    padding: 36px 18px;
    border: 3px solid #cccccc;
    border-radius: 14px;
    text-align: center;
}

.header h2{
    margin: 5px 0px 15px;
    font-size: 32px;
    text-align: center;;
}

.header p{
   margin: 26px 0px 0px;
    font-size: 20px;
}

.form-control{
    width: 75%;
    height: 40px;
    margin: 37px 0px 12px;
    padding: 0px 0px 0px 78px;
    border-radius: 5px;
}
.button{

	border:none;
    background: #0073e6;
    color: #fff;
    padding: 8px 158px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 23px;
}

.button:hover{
	cursor:pointer;
	background-color: #0059b3;

}

.reset-button {

	margin-top: 15px;
    text-align: center;
    padding: 21px 0px 0px;
    font-size: 20px
    
}

.reset-button a{
	text-decoration: none;
}

.reset-button:hover{
	text-decoration: underline;
}
